header{
	color:#ebebeb;
	text-align:center; 
	color:orange;
	font-size:18px;
	font-family:arial;
}


div{	
	font-size:18px; 
	font-family:arial;
	color:#ebebeb;
}


h1{
	font-size:18px;
	font-family:arial;
	color:#ebebeb;
}

h2{
	font-size:18px;
	font-family:arial;
	color:#ebebeb;
}

body{
	background-color:#777;
	font-family:arial;
	color:#ebebeb;
}

ul{
	font-family:arial;
	color:#ebebeb;
}

footer{
	width:18px;
	font-family:arial;
	color:#ebebeb;
}




