header{
	text-align:center; 
	padding:20px;
	margin-top:20px;
	border:3px solid black;
	width:970;
	background:black;

}


nav{
	text-align:center;
	padding:20px;
	margin-top:20px;
	border:3px solid black;
	background:black;
}

body{
	background:#777;
	font-family:arial;
	color:#ebebeb;
	font-size:18px;

}

.aside{
	width:300px;
	height:200px; 	
}

#box{
	border-width:3px solid black;
	border-style:solid black;
	padding:20px;
	margin:25px;
}

p{
	text-align:center;
}

nav{
	text-align:center;
}

section{
	section:495px;
	body:960px;
}

.footer{
	width:970px;
	padding:20px;
	margin-top:20px;
	border:3px solid black;
	background:black;
}



